.wrapper {
    max-width: 100%;
    position: relative;
    display: inline-flex;
    background: #dae8ff;
    border-radius: 12px;
    padding: 0 5px 0 0;
    box-sizing: inherit;
    vertical-align: middle;
    margin: 0 10px 5px 0;
    font-size: 15px;
}

.focusedWrapper {
    background: transparent;

    & .content {
        opacity: 0;
    }

    & .input {
        opacity: 1;
    }
}

.errorWrapper {
    background: transparent;

    & .content {
        border-bottom: 1px dashed red;
    }
}

.content {
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: calc(100% - 15px);
    white-space: nowrap;
    line-height: 22px;
    padding: 0 10px;
}

.input {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    width: calc(100% - 40px);
    height: 100%;
    border: none;
    padding: 0 10px;
    appearance: none;
    outline: none;
    margin: 0;
    background: transparent;
    font-family: inherit;
    font-size: inherit;
}

.delete {
    width: 15px;
    height: 22px;
    padding: 0;
    display: inline-block;
    text-align: left;
    line-height: 22px;
    cursor: pointer;
    border: none;
    background: transparent;
    vertical-align: middle;

    &::after {
        content: '\D7';
        font-size: 19px;
    }
}