.container {
    padding: 6px;
    min-height: 100px;
    max-height: 1vh;
    overflow-x: hidden;
    overflow-y: auto;
    border-top: 1px solid #c3c2cf;
    background: #fff;
    box-sizing: border-box;
    font-size: 15px;
    color: #2d2d2d;
    font-family: OpenSans, Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.inputWrapper {
    height: 22px;
    font-size: 15px;
    min-width: 135px;
    position: relative;
    display: inline-flex;
    padding: 0 12px 0;
    box-sizing: inherit;
    vertical-align: middle;
}

.inputContent {
    padding: 0;
    margin: 0;
}

.input {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    font-family: inherit;
    font-size: inherit;
    border: none;
    outline: none;
    user-select: text;

    &::placeholder {
        color: #bfbfbf;
    }
}

